// Base Styles
* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background: #8080801a;
}

header {
    text-align: center;
    font-size: 10px;
    background: #123800bd;
    padding: 10px;
    color: whitesmoke;
}

nav {
    width: 100%;
    height: 42px;
    background: #123800bd;
    overflow: hidden;

    a {
        padding: 12px 0;
        color: white;
        font-size: 17px;
        text-decoration: none;
        float: left;
        text-align: center;
        width: 25%;

        :hover {
            background: white;
            color: #123800bd;
        }
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style-type: none;
        display: inline;
    }
}

main {
    height: auto;
}

footer {
    background: #123800;
    color: white;
    text-align: center;
    height: auto;
    padding: 20px;
}