// ========================
// Base Styles
// ========================

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
}

img {
    vertical-align: middle;
}


// ============================
// PARALLAX BACKGROUND IMAGE
// ============================
.parallax-header {
    background-image: url(../images/home_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    margin: 0;
    height: 80vh;
}

.parallax-camping {
    background-image: url(../images/camp_bgimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    margin: 0;
    padding: 2em;
    height: 60vh;
}

.parallax-hiking {
    background-image: url(../images/hike_bgimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    margin: 0;
    padding: 2em;
    height: 60vh;
}

.parallax-climbing {
    background-image: url(../images/climb_bgimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    margin: 0;
    padding: 2em;
    height: 60vh;
}

.parallax-canoeing {
    background-image: url(../images/canoe_bgimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    margin: 0;
    padding: 2em;
    height: 60vh;
}

.parallax-fishing {
    background-image: url(../images/fish_bgimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    margin: 0;
    padding: 2em;
    height: 60vh;
}

.parallax-hunting {
    background-image: url(../images/hunt_bgimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    margin: 0;
    padding: 2em;
    height: 60vh;
}

// ==================
// HEADER SECTION
// ==================
header {
  background: black;
  height: 30vh;
}

h1 {
  color: white;
  padding: 3%;
  text-align: center;
  margin: 0;
  font-family: 'Fahkwang', sans-serif;
  font-size: 3em;
}

// ====================
// NAV BAR SECTION
// =====================

#navbar {
    overflow: hidden;
    background-color: #333;

    a {
        padding: 0.9em 1em;
        font-size: 1.1em;
        font-family: 'Fahkwang', sans-serif;
        text-align: center;
        color: beige;
        text-decoration: none;
        float: left;


        &:link {
            color: white;
            text-decoration: none;
        }

        &:hover {
            background: rgb(255, 168, 36);
            color: black;
        }

        &:active {
            color: rgb(255, 69, 0);
        }
    }
}

#navbar a:hover, 
.subnav:hover .subnavbtn {
    background: rgb(255, 168, 36);
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(98, 97, 97);
    color: black;
    width: 100%;
    z-index: 1;

    a {
        float: left;
        color: black;
        text-decoration: none;

        &:hover {
            color: black;
        }
    }
}

.subnav:hover .subnav-content {
    display: block;
}

// =========================
// MAIN STYLES SECTION
// =========================

img {
    // display: block;
    // margin-left: auto;
    // margin-right: auto;
    // width: 100%;
    margin: 0 auto;
}

h2 {
    color: black;
    border: solid black 0.001em;
    margin: 1em 8em;
    text-align: center;
    font-family: 'Play', sans-serif;
    font-size: 1.5em;
}

h3 {
    background: #d3d3d354;
    border: solid #acacac30 0.0005em;
    box-shadow: black 1px 1px 7px;
    color: white;
    background-color: black;
    padding: 0.5%;
    text-align: center;
    margin: 10% 28%;
    font-family: 'Fahkwang', sans-serif;
}

h4 {
    margin: 0 auto;
    font-size: 2.5em;
    font-family: 'Cabin Condensed', sans-serif;
}

p {
    font-family: 'Didact Gothic', sans-serif;
}

// ===========================
// FOOTER STYLES SECTION
// ===========================