// Base Styles
* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

main {
    height: auto;
    // font-family: $TextFont;
    padding: 50px;
}

form {
    max-width: 33%;
    margin: 3% 5% 5% 60%;
}

textarea {
    height: 220px;
    width: relative;
}