// ===============================
// Web fonts
// ===============================

// =============
// Classes
// =============

.main {
    &-header {
        margin: 0 auto;
    }

    &-heading {
        font-size: 1em;
        color: white;
    }
}

.container-nav {
    margin: 1.25em;
    width: auto;
    position: sticky;
}

    .dropdown {
        margin: 0 auto;
        font-size: 1.1em;
        font-family: 'Source Sans Pro', sans-serif;
        text-align: center;
        color: beige;
        text-decoration: none;
        float: left;
        overflow: hidden;
    }

    .dropbtn {
        padding: 0.9em 1em;
        font-size: 1em;
        font-family: 'Fahkwang', sans-serif;
        text-align: center;
        border: none;
        outline: none;
        color: white;
        background-color: black;
        margin: 0;
    }
 
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

.history {
    margin: 1em 13em;
}

.wrapper {
    margin: 2em;
    background: beige;
}

.activities {
    border: solid rgba(211, 211, 211, 0.68) 0.001em;
    padding: 1em;
}

// .camp-heading {
//     background: #d3d3d354;
//     border: solid #acacac30 0.0005em;
//     box-shadow: black 1px 1px 7px;
//     color: white;
//     background-color: black;
//     padding: 0.5%;
//     text-align: center;
//     margin: 10% 28%;
// }

.container {
    display: grid;
    grid-gap: 5px;

    text-align: center;
    padding: 10px 20px;
}

.grid-act {
    padding: 15px;
    max-width: 100%;

    text-align: left;
}

.polaroid-site-1 {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item1 {
    padding: 0;
}
.item2 {
    text-align: left;
}
