// Buttons
.btn {
    display: inline-block;
    text-align: center;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
}

.btn-primary {
    color: #fff;
    background-color: #123800bd;
    border-color: #123800bd;
}

// Icons