// Buttons
#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    // font-size: 20px;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 35px;
    transition: all 0.3s ease;
}

.submit-btn {
    display: inline-block;
    text-align: center;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    background: rgb(79, 79, 80);
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;

    :hover {
        opacity: 1;
    }    
}

// // Icons
.icon {
    padding: 10px;
    // background: rgba(7, 167, 7, 0.898);
    background: rgb(79, 79, 80);
    color: white;
    min-width: 50px;
    text-align: center;
}

.fab:hover {
    opacity: 0.7;
}

.fa-facebook,
.fa-twitter,
.fa-google,
.fa-linkedin,
.fa-youtube,
.fa-instagram {
    background: rgb(79, 79, 80);
    color: white;

    padding: .6em;
    font-size: 1em;
    // width: 14%;
    text-align: center;
    text-decoration: none;
    // margin: 5px 0;
}