// Responsive Design
// =======
// LAPTOP 
// =======
@media screen and (max-width: 1024px) {
    form {
        max-width: 50%;
        margin: 3% 5% 5% auto;
    }
}

// ===================
// TABLET - LANDSCAPE
// ===================
@media screen and (max-width: 768px) {
    // --------------------------------------------------
    // Home Page
    
    // WCape "Logo"
    .initials {
        left: 10vw;
    }

    // NavBar Links
    .navBar {
        right: 10vw;
    }

    // Text Section
    .title {
        padding: 0 50px;
    }

    // ---------------------------------------------------
    // Contact Page
    .body-contact {
        background-position-x: 50%;
        background-position-y: 50%;
    }

    form {
        max-width: 100%;
        margin: 5%;
    }
}

// ===================
// TABLET - POTRAIT
// ===================
@media screen  and (max-width: 501px) {
    // --------------------------------------------------
    // Home Page

    // WCape "Logo"
    .initials {
        left: 43vw;
    }

    // NavBar Links
    .navBar {
        top: 15%;
        right: 20vw;
    }

    // Explore The Western Cape 
    .title-heading {
        font-size: 2em;
    }

    // Text Below heading
    .quote {
        font-size: .9em!important;
    }

    // ---------------------------
    .coat-of-arms {
        width: 100%;
    }
}

// ===============
// MOBILE - LARGE
// ===============
@media screen and (max-width:425px) {
    // --------------------------------------------------
    // Home Page

    // WCape "Logo"
    .initials {
        left: 41vw;
    }

    // NavBar Links
    .navBar {
        right: 15vw;
    }

    // Explore The Western Cape 
    .title-heading {
        font-size: 1.5em;
    }

    // Text Below heading
    .quote {
        font-size: .8em!important;
    }

    // Back to top button
    #back-to-top-btn {
        font-size: 20px;
    }
}

// ================
// MOBILE - MEDIUM
// ================
@media screen and (max-width:375px) {
    // --------------------------------------------------
    // Home Page

    // WCape "Logo"
    .initials {
        left: 40vw;
    }

    // NavBar Links
    .navBar {
        right: 10vw;
    }

    // Heading and Text Section
    .title {
        padding: 0;
    }
    // --------------------------------------------------
}

// ===============
// MOBILE - SMALL
// ===============
@media screen and (max-width:320px) {
    // --------------------------------------------------
    // Home Page

    // WCape "Logo"
    .initials {
        left: 37vw;
    }

    // NavBar Links
    .navBar {
        right: 6vw;
    }
    // --------------------------------------------------
}

// ---------------------------
// NAV BAR RESPONSIVE
@media screen and (max-width:991px) {
    .nav-links {
        position: initial;
        right: 0;
    }
}

// ---------------------------
// GALLERY PAGE

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}