// Classes & IDs

// ------------------------
// HOME COVER PAGE
.home {
    height: 100vh;
    background: url(../img/canyon-1740973_960_720.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    color: #fff;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .5);
}

.top-directories {
    display: inline-flex;
    position: fixed;
    width: 100%;
}

.logo {
    position: absolute;
    left: -25vw;
}

.navBar {
    position: absolute;
    right: 75vw;
    display: -webkit-box !important;

    a {
        color: #c9c7c7;
    }
}

.title {
    position: absolute;
    top: 35%;
    padding: 0 150px;
}

// ---------------------------
// HOME PAGE MAIN
.coat-of-arms {
    float: left;
}

.card {
    width: 100%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none !important;
    border-radius: .25rem;
}

.text-col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 80%;
}

// ------------------
.page-hero {
    background: rgb(79, 79, 80) !important;
    color: white;
}

// -------------------
// GALLERY PAGE
.nav-links {
    position: absolute;
    right: 5vw;
}

.gallery-main {
    padding: 50px 10vw;
}

// --------------------
// CONTACT PAGE
.body-contact {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: beige;

    background: url(../img/contact_form-bgimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;

    :focus {
        border: 2px solid rgb(79, 79, 80);
    }
}

// Footer