// ====================================
// Descriptive color variables
// ====================================
$black: #000000;
$white: #ffffff;
$beige: #f5f5dc;
$orange: #ff4400e8;

// $prim-color : $black
// $sec-color  :


// ====================================
// Functional color variables
// ====================================