// Font Variables

$Poppins: 'Poppins', sans-serif;
$Ubuntu: 'Ubuntu', sans-serif;
$WorkSans: 'Work Sans', sans-serif;

$HeadingFont: $Poppins;
$TextFont: $WorkSans;
$HF-Font: $Ubuntu;

// Color Variables